In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
def get_csv(timestamp, metric):
    return pd.read_csv(f'../dontgitme/{timestamp}/{metric}.csv')

In [9]:
df_rate = get_csv(1587889917228, 'ops-sent-all')
df_rate

,t,count,mean_rate,m1_rate,m5_rate,m15_rate,rate_unit
0,1587889919,99,104.250203,0.000000,0.000000,0.000000,events/second
1,1587889920,215,110.319550,0.000000,0.000000,0.000000,events/second
2,1587889921,331,112.380810,0.000000,0.000000,0.000000,events/second
3,1587889922,442,111.335420,0.000000,0.000000,0.000000,events/second
4,1587889923,539,108.998418,0.000000,0.000000,0.000000,events/second
...,...,...,...,...,...,...,...
93,1587890012,8825,93.939214,85.973287,103.649659,106.946894,events/second
94,1587890013,8959,94.361113,85.973287,103.649659,106.946894,events/second
95,1587890014,9098,94.826381,89.957211,104.181057,107.106745,events/second
96,1587890015,9234,95.250193,89.957211,104.181057,107.106745,events/second
97,1587890016,9373,95.697801,89.957211,104.181057,107.106745,events/second

In [18]:
df_rate['count'][1:].values - df_rate['count'][:-1].values

array([116, 116, 111,  97, 114, 125, 126, 115, 111, 125, 123, 123, 119,
       111, 124, 129, 127, 128, 115, 127, 127, 128, 124, 112, 126, 128,
       128, 125, 123, 129, 127, 128, 126, 123, 126, 128, 129, 125, 120,
       128, 128, 128, 123, 119, 129, 128, 129, 127, 114, 125, 130, 129,
       122, 119, 128, 128, 127, 127, 122,   7,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,  94, 127, 137, 138, 139, 138, 127, 139, 138,
       139, 129, 134, 139, 136, 139])

array([  99,  215,  331,  442,  539,  653,  778,  904, 1019, 1130, 1255,
       1378, 1501, 1620, 1731, 1855, 1984, 2111, 2239, 2354, 2481, 2608,
       2736, 2860, 2972, 3098, 3226, 3354, 3479, 3602, 3731, 3858, 3986,
       4112, 4235, 4361, 4489, 4618, 4743, 4863, 4991, 5119, 5247, 5370,
       5489, 5618, 5746, 5875, 6002, 6116, 6241, 6371, 6500, 6622, 6741,
       6869, 6997, 7124, 7251, 7373, 7380, 7380, 7380, 7380, 7380, 7380,
       7380, 7380, 7380, 7380, 7380, 7380, 7380, 7380, 7380, 7380, 7380,
       7380, 7380, 7380, 7380, 7380, 7380, 7474, 7601, 7738, 7876, 8015,
       8153, 8280, 8419, 8557, 8696, 8825, 8959, 9098, 9234])